{% extends "layout.html" %}

{% macro datos(name,placeholder,type="text") %}

{%block content %}

{%import "_macros.html" as macros %}

<form action="/operaBas" method="post">

    {{macros.datos("n1", "ingrese el premir numero", "number")}}
    {{macros.datos("nombre", "ingrese el nombre")}}
    {{macros.datos("contraseña", "ingrese la contraseña", "password")}}

<div class="mb-3">
    <label for="n2" class="form-label">Numero 2</label>
    <input type="number" class="form-control" id="n2" name="n2">
</div>

</form>

{%endmacro%}

{%endblock%}